{{ define "main" }}
  {{- with .Content }}
  <div class="book-post-content markdown" style="margin-bottom:2rem;padding-bottom:1.5rem;border-bottom:2px solid #e2e8f0;">
    {{- . | safeHTML -}}
  </div>
  {{- end }}
  {{ range sort .Paginator.Pages }}
  <article class="book-post markdown">
    <h2>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
    </h2>
    <div class="book-post-container flex gap">
      <div>
        {{ partial "docs/post-meta" . }}
        <div class="book-post-content markdown-inner">
          {{- .Summary | truncate 256 -}}
        </div>
      </div>
      {{- $thumbnail := default "thumbnail.*" .Params.BookPostThumbnail -}}
      {{- with or (.Resources.GetMatch $thumbnail) (resources.GetMatch $thumbnail) -}}
      <div class="book-post-thumbnail">
        <img src="{{ .RelPermalink }}" alt="{{ partial "docs/text/i18n" "Thumbnail" }}" />
      </div>
      {{- end -}}
    </div>
  </article>
  {{ end }}
{{ end }}

{{ define "toc-container" }}{{ end }}
{{ define "toc" }}{{ end }}

{{ define "footer" }}
  {{ partial "docs/pagination.html" . }}
{{ end }}
