{{ define "main" }}
<article class="markdown book-post">
  <h1>
    {{ partial "docs/title" . }}
  </h1>
  {{ partial "docs/post-meta" . }}
  <div class="book-post-content markdown-inner">
    {{- .Content -}}
  </div>
</article>

<div class="giscus-wrapper">
  <h3 class="giscus-heading">Questions &amp; Discussion</h3>
  <p class="giscus-intro">Have a question about this topic? Post it below using your GitHub account. Comments are visible to everyone and help other OTM consultants with the same question.</p>
  <script src="https://giscus.app/client.js"
    data-repo="shivakraju/oracle-otm-site"
    data-repo-id="R_kgDOTQhlag"
    data-category="General"
    data-category-id="DIC_kwDOTQhlas4DFU1Y"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/post-prev-next" . }}
{{ end }}
